.full__item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  /* overflow: auto; */
}

.full__item > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 10px;
}

.products-full__items {
  width: 100%;
}

.products-full__items img {
  border-radius:  10px;
}