.new-data {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.new-info { 
  display: flex; 
}

.new-info > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.new-data img {
  width: 70px;
  height: 70px;
}

.new-data h2 {
  font-size: 20px;
}

.delate__icon {
  font-size: 18px;
  color: rgb(137, 155, 137);
  transition: 0.3s;
  cursor: pointer;
}

.delate__icon:hover {
  color: rgb(204, 62, 62);
  transform: scale(1.3);
}